<div class="container">
 <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
  <h1>Topic一覧</h1>

   <%= link_to "Topicを投稿する", new_blog_path, class:'btn btn-default btn-sm btn-info'%>

   <% @blog.each do |blog| %>
    <div class="row">
    <%= link_to blog_path(blog) do %>
     <h4><strong><%= blog.title %></strong></h4>
    <% end %>
    <p>内容:<%= blog.content %></p>
    <p>投稿者:<%= blog.user.name %></p>
    <%= link_to "編集する", edit_blog_path(blog.id), class:'btn btn-default btn-sm btn-success'%>
    <%= link_to '削除する', blog_path(blog.id), method: :delete, data: { confirm: '削除しますか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
   <% end %>
 </div>
</div>
