<div class="container">
 <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
  <h1>写真一覧</h1>

   <%= link_to "写真を投稿する", new_picture_path, class:'btn btn-default btn-sm btn-info'%>

   <% @picture.each do |picture| %>
    <div class="row">
    <p><%= image_tag(picture.image) %></p>
    <p>ユーザー名:<%= picture.user.name %></p>


    <%= link_to "写真を編集する", edit_picture_path(picture.id), class:'btn btn-default btn-sm btn-success'%>
    <%= link_to '写真を削除する', picture_path(picture.id), method: :delete, data: { confirm: '消すで？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
   <% end %>
 </div>
</div>
